<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style type="text/css">
      body { background: grey !important; } 
    </style>
  </head>
  <body>


    <nav class="navbar navbar-light" style="background-color: lightblue;">
      <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" href="#">Catalog Project</a>
          </div>
          <ul class="nav navbar-nav">
              <li class="active"><a href="{{url_for('showCategoreis')}}">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              {% if 'username' not in session %}
              <li><a href="{{url_for('showLogin')}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              {% else %}
              <li><a href="{{url_for('logout')}}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
              {% endif %}
          </ul>
      </div>
    </nav>

       <div class="container-fluid">

        <div class="row" style="background: lightblue;">

          <div class="col-md-12">
              <h1>Add New Item</h1>
                    
              <form action="{{url_for('newItem')}}" method='POST'>

                <dl>
                    <dt>Item:</dt>
                    <dd><input type='text' size='30' name='name' required></dd>
                    <dt>Price:</dt>
                    <dd><input type='number' step="0.01" size='30' name='price' required></dd>
                    <dt>Description:</dt>
                    <dd><textarea name='description' rows='4' cols='30' required></textarea></dd>
                    <dt>Department:</dt>
                    <dd>
                      <select name='department'>
                        {% for c in departments %}
                        <option value={{c.id}}>{{c.name}}</option>
                        {% endfor %}
                      </select>
                    </dd>
                </dl>


                <input type='submit' value='Submit'>

                <a href="{{url_for('showCategoreis')}}">Cancel</a>

            </form>

          </div>
        </div>

    </div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>
