<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style type="text/css">
      body { background: grey !important; } 
    </style>
  </head>
  <body>


    <nav class="navbar navbar-light" style="background-color: lightblue;">
      <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" href="#">Catalog Project</a>
          </div>
          <ul class="nav navbar-nav">
              <li class="active"><a href="{{url_for('showCategoreis')}}">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              {% if 'username' not in session %}
              <li><a href="{{url_for('showLogin')}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              {% else %}
              <li><a href="{{url_for('logout')}}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
              {% endif %}
          </ul>
      </div>
    </nav>

<div class='container-fluid'>

    <div class='row'>

        <div class='col-xs-12'>

            <h1>New Dessert Item</h1>

            <form action="{{url_for('newItem')}}" method='POST'>

                <dl>
                    <dt>Dessert:</dt>
                    <dd><input type='text' size='30' name='dessert' required></dd>
                    <dt>Description:</dt>
                    <dd><textarea name='description' rows='5' cols='40' required></textarea></dd>
                    <dt>Category:</dt>
                    <dd><select name='category'>
                        {% for c in categories %}
                        <option value={{c.name}}>{{c.name}}</option>
                        {% endfor %}
                    </select></dd>
                </dl>


                <input type='submit' value='Create'>

                <a href="{{url_for('showCatalog')}}">Cancel</a>

            </form>

        </div>

    </div>

</div>

</body>

</html>
