<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style type="text/css">
      body { background: grey !important; } 
    </style>
  </head>
  <body>


    <nav class="navbar navbar-light" style="background-color: lightblue;">
      <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" href="#">Catalog Project</a>
          </div>
          <ul class="nav navbar-nav">
              <li class="active"><a href="{{url_for('showCategoreis')}}">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              {% if 'username' not in session %}
              <li><a href="{{url_for('showLogin')}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              {% else %}
              <li><a href="{{url_for('logout')}}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
              {% endif %}
          </ul>
      </div>
    </nav>
   

    <div class="container-fluid">

        <div class="row" style="background: lightblue;">

          <div class="col-md-6">
              <h1>Department</h1>
              {% for i in catalogs%}
              <a href='{{url_for('showCatalogsItem', cata_id = i.id)}}'>{{i.name}}</a>
              </br>
              {% endfor %}
          </div>
          <div class="col-md-6" style="background: yellow;">

              <h1>Recent added items</h1> 
              {% for i in items%}
              <a href='{{url_for('showOneItem', item_id = i.id, cata_id = i.department_id)}}'>{{i.name}} </a>
              </br>
              {% endfor %}
          </div>
        </div>

    </div>


    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>
